td.table-diff-plus {
  background-color: #2e7d32;
  color: #fff;
}

td.table-diff-minus {
  background-color: #b71c1c;
  color: #fff;
}

.tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  li a {
    &.active, &:hover {
      color: #ef6c00;
    }
    &:focus {
      background-color: inherit;
    }

    color: #000000;
  }
}
