<header *ngIf="loggedIn">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="konten" class="brand-logo left">FEINT</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><a [routerLinkActive]="['active']" href="index.html">Konten</a></li>
        <li><a href="einkaeufe.html">Eink&auml;ufe</a></li>
        <li><a href="abschluss.html">Abschluss</a></li>
      </ul>
    </div>
  </nav>
</header>
