swagger: "2.0"
info:
  version: "1.0.0"
  title: "FEINT"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "feint-server.labcode.de"
schemes:
- "https"
paths:
  /user/getProfile:
    get:
      tags:
      - "user"
      summary: "Get the current authenticated User"
      description: ""
      operationId: "getUserProfile"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Unauthorized"
      security:
      - token: []
  /control/changeProfile:
    post:
      tags:
      - "control"
      summary: "Change the current authenticated User"
      description: ""
      parameters:
      - in: body
        name: body
        description: ""
        schema:
          $ref: '#/definitions/UserChange'
      operationId: "changeUserProfile"
      produces:
      - "application/json"
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
        401:
          description: "Unauthorized"
        500:
          description: "DB Error"
      security:
      - token: []
securityDefinitions:
  token:
    type: "apiKey"
    name: "x-access-token"
    in: "header"
definitions:
  UserChange:
    type: "object"
    properties:
      firstName:
        type: "string"
      familyName:
        type: "string"
  User:
    type: "object"
    properties:
      _id:
        type: "string"
        description: "MongoDB ID"
      authenticatedServices:
        type: 'string'
      googleID:
        type: "string"
      email:
        type: "string"
      name:
        type: "object"
        properties:
          familyName:
            type: "string"
          givenName:
            type: "string"
      allowedEvents:
        type: "array"
        items:
          type: "string"
          description: "MongoDB-IDs of Events"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"