h1.headline {
  font-weight: 100;
}
.footer {
  position: relative;
  color: #000000;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.event {
  color: #FFFFFF;
  cursor: pointer;
  h3 {
    margin: 0;
    padding: 15px 0 0;
  }
  &.event-add {
    display: table;
    width: 100%;
    h3 {
      font-size: 5rem;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
    }
  }
}
